{% extends "base.html" %}
{% load static %}
{% load ap_nimubs %}

{% block title %}Contact - {% endblock title %}

{% block content %}
  <h1>Contact</h1>
  <p>
    Please direct queries about this website to <a href="{% contact_mailto %}">{%contact_text %}</a>.
  </p>
  <p>
    The ActionPotential-Portal concept was invented by <a href="https://www.nottingham.ac.uk/mathematics/people/gary.mirams">Gary Mirams</a>.
  </p>
  <p>
    <ul>
      <li><a href="https://www.nottingham.ac.uk/mathematics/people/gary.mirams">Gary Mirams</a> is a mathematical modeller who started working on cardiac electrophysiology in 2009; and has been trying to work out how best to select, re-use and refine/develop cardiac models since then. He has written a few <a href="http://mirams.wordpress.com/">blog entries</a> about the motivation for this website.</li>
      <li><a href="https://www.nottingham.ac.uk/mathematics/people/maurice.hendrix">Maurice Hendrix</a> is a Senior Research Software Engineer at the University of Nottingham.</li>
    </ul>
  </p>


{% endblock content %}
