{% extends "base.html" %}
{% load static %}
{% load ap_nimbus %}

{% block title %}Contact/Team - {% endblock title %}

{% block content %}
  <h1>Contact</h1>
  <p>
    Please direct queries about this website to <a href="{% contact_mailto %}">{%contact_text %}</a>.
  </p>
  <h2>Team</h2>
  <p>
    The ActionPotential-Portal concept was invented by <a href="https://www.nottingham.ac.uk/mathematics/people/gary.mirams"
                                                          target="_blank">Gary Mirams</a>.
  </p>
  <p>
    <ul>
      <li>
         Gary Mirams is a mathematical modeller who started working on cardiac electrophysiology in
         2009; and has been trying to work out how best to select, re-use and refine/develop cardiac
          models since then. He has written a few <a href="http://mirams.wordpress.com/"
                                                     target="_blank">blog entries</a> about the
          motivation for this website.
      </li>
      <li>Maurice Hendrix was a Senior Research Software Engineer at the University of Nottingham (2019-2023).</li>
      <li>Geoff Williams was a Software Engineer at the University of Nottingham (2018-2021 & 2023).</li>
    </ul>
  </p>


{% endblock content %}
