{% extends "base.html" %}
{% load ap_nimubs %}

{% block title %}Privacy notice - {% endblock title %}

{% block content %}
<h1>Privacy notice</h1>

<p>
  The purpose of the ActionPotential-Portal application is to support the use of the <a href="https://www.maths.nottingham.ac.uk/plp/pmzgm/ap_predict/">'Action Potential Prediction' (ApPredict)</a> open source cardiac electrophysiology simulator, for changes to the action potential under drug block of multiple ion channels, by providing a conveniant web-portal where simulations can be run as well as results stored and visualised.
  <br>It is developed as a research collaboration between the universities of Nottingham and Oxford.
  You can <a href="{% url 'contact' %}">contact the team</a> with any questions.
</p>

<p>
  Below we describe what information we collect and store about you as a user of the ActionPotential-Portal, how we will use this information, and who it will be shared with.
</p>

<p>
  By uploading information to the ActionPotential-Portal, you are confirming that you are happy for your information to be used as set out below, that the information entered is correct to the best of your knowledge, and that you have the authority to share this information.
</p>

<h2>What information do we store?</h2>

<p>
  We store the information about you that you supply when you <a href="{% url 'accounts:register' %}">register</a>,
  or when you <a href="{% url 'accounts:myaccount' %}">make changes to your account</a>.
  We also store any files that you upload (CellML models and PK files) to the ActionPotential-Portal, and the results of experiments run using these.
  Please also be aware that any text you write with simulations as notes will be stored and is visible to system administrators through the admin interface.
</p>

<p>
  When you log in to the ActionPotential-Portal we also store a cookie on your machine so that you can access protected features of the ActionPotential-Portal.
</p>

<h2>Web hosting</h2>
<p>{% hosting_info %}</p>

<h2>Who can see this information?</h2>

<p>
  All files that you upload (CellML models and PK files) are private, visible only to you. However they are sent to the ApPredict software via an API and are visible to administrators with file system access to the portal.
</p>

<p>
  Your name and institution (as supplied by you) and email address are only visible to system administrators in the admin interface.
</p>

<p>
  The <a href="{% url 'contact' %}">ActionPotential-Portal administrators</a> can however see all information added to the ActionPotential-Portal, since encryption is not used when it is stored, and we have administrative access. Your password is encrypted on the other hand and is therfore also not visible to administrators.
</p>

<h2>How will this information be used?</h2>

<p>
  Any files that you upload (CellML models and PK files) to the ActionPotential-Portal can be used by you only. Administrators with admin access only, can mark  uploaded CellML models as predefined, which makes these accessible to all registered system users.
</p>

<p>
  Your email address is used solely so the ActionPotential-Portal may contact you (at your request) to provide features such as password resets and notification when your experiments complete. When registering the administrators will also be informed of your email address.
</p>

<h2>How do I change my mind?</h2>

<p>
  When logged in to your account you can <a href="{% url 'accounts:myaccount' %}">update your contact details and preferences</a>,
  and make changes to your simulations and uploaded CellML models, including deleting them. It is also possible to fully delete your account, which will delete any of your simulations and uploaded files.
</p>

<h2>Further information</h2>

<p>
  <a href="https://www.nottingham.ac.uk/utilities/privacy/privacy.aspx">University of Nottingham's privacy web site</a>.
</p>

<p>
  The Computer Science department at Oxford, also has its own <a href="http://www.cs.ox.ac.uk/privacy-policy.html">privacy policy</a>.
</p>

{% endblock content %}
