{% extends "base.html" %}

{% block title %}Account - {% endblock title %}

{% block content %}
  <h1>Your account</h1>

  <form method="POST" action="">
    {% csrf_token %}

    <table id="myaccounttable" class="leftright">
      <tr>
        <th>Email address</th>
        <td>
          {{ form.email }}
          <span class="errorlist">{{ form.email.errors }}</span>
        </td>
      </tr>
      <tr>
        <th>Full name</th>
        <td>{{ form.full_name }}</td>
      </tr>
      <tr>
        <th>Institution</th>
        <td>
            {{ form.institution }}
            <span class="errorlist">{{ form.institution.errors }}</span> 
        </td>
      </tr>
      <tr>
        <th>Registered since</th>
        <td><time>{{ user.date_joined|date:"Y-m-d H:i:s" }}</time></td>
      </tr>
    </table>

    <p>
      <button>Update account</button>
      {% if user.has_usable_password %}
        <a class="button" href="{% url "password_change" %}">Change Password...</a>
      {% endif %}
        <a class="button" href="{% url "accounts:delete" user.id %}">Delete Account</a>
    </p>


  </form>

 </section>
{% endblock content %}
