{% extends "base.html" %}
{% load static %}

{% block title %}Create simulation - {% endblock title %}

{% block content %}
<div id='simulationform'>
{% with in_edit='true' %}
  {% include "./simulation_header.html" %}
{% endwith %}

  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <p>
    <button id="savebutton" type="submit">Save</button>
     <a class="button" id="backbutton" title="Cancel">Cancel</a>
    </p>
  </form>
</div>
{% endblock content %}
