{% load static %}
{% load simulations %}

      {% if object.version_info %}<br/>
       <div><label>ApPredict version information </label>
            <input id="showappredictversioninfo" type="button" value="▼" style="font-size:12px;margin:0;padding:0;" title="Show" alt="Show ApPredict version info">
            <input id="hideappredictversioninfo" type="button" value="▲" value="▼" style="font-size:12px;margin:0;padding:0;visibility:hidden; display:none;" title="Hide" alt="Hide ApPredict version info">
            <table id="appredictversioninfo" style="visibility:hidden; display:none;" class="stripe dataTable">

                {%if object.version_info and object.version_info.versions%}
                    {%if object.version_info.versions%}
                        {%if object.version_info.versions.ProvenanceInfo%}
                            {%if object.version_info.versions.ProvenanceInfo.Projects.Project.Version%}<tr><td>{{object.version_info.versions.ProvenanceInfo.Projects.Project.Name}} Version</td><td>{{object.version_info.versions.ProvenanceInfo.Projects.Project.Version}}</td></tr>{%endif%}
                            {%if object.version_info.versions.ProvenanceInfo.VersionString%}<tr><td>Chaste Version</td><td>{{object.version_info.versions.ProvenanceInfo.VersionString}}</td></tr>{%endif%}
                            {%if object.version_info.versions.ProvenanceInfo.BuildInformation%}<tr><td>Build options</td><td>{{object.version_info.versions.ProvenanceInfo.BuildInformation}}</td></tr>{%endif%}
                            {%if object.version_info.versions.ProvenanceInfo.BuilderUnameInfo%}<tr><td>OS info</td><td>{{object.version_info.versions.ProvenanceInfo.BuilderUnameInfo}}</td></tr>{%endif%}
                        {%endif%}
                        {%if object.version_info.versions.Compiler%}
                            {%if object.version_info.versions.Compiler.NameAndVersion%}<tr><td>Compiler</td><td>{{object.version_info.versions.Compiler.NameAndVersion}}</td></tr>{%endif%}
                            {%if object.version_info.versions.Compiler.Flags%}<tr><td>Compiler flags</td><td>{{object.version_info.versions.Compiler.Flags}}</td></tr>{%endif%}
                        {%endif%}
                        {%if object.version_info.versions.Libraries%}
                            {%for key, value in object.version_info.versions.Libraries.items%}{% for lib, ver in value.items%}<tr><td>{{lib}}</td><td>{{ver}}</td></tr>{%endfor%}{%endfor%}
                        {%endif%}
            
                    {%endif%}
                    {% if object.version_info.appredict_args %}<tr><td>Ap Predict arguments</td><td>{{object.version_info.appredict_args}}</td></tr>{%endif%}
                {%endif%}
            </table>
       </div>
      {% endif %}
