{% extends "base.html" %}
{% load static %}
{% load simulations %}


{% block title %}Simulations - {% endblock title %}

{% block content %}
  <section id="simulationgrouplist">
    <h2>Your simulations</h2>

    <p><a href="{% url 'simulations:create_simulation' %}" class="pointer">Create a new simulation</a></p>


  <table class="stripe row-border order-column" id="simulations_table" style="width:100%; overflow-wrap: break-word;">
      <thead>
        <tr>
          <th style="min-width: 250px; max-width: 250px; width: 250px;" id="title">Title</th>
          <th style="min-width: 55px; max-width: 55px; width: 55px;">Date</th>
          <th style="min-width: 175px; max-width: 175px; width: 175px;">Model</th>
          <th style="min-width: 100px; max-width: 100px; width: 100px;">Action</th>

{% ion_currents as all_currents %}
          <th colspan="2">Pacing</th>
          <th colspan="{{ all_currents|length|add:1 }}">Ion Channel Current Inhibitory Concentrations</th>
          <th colspan="2" style="min-width: 68px; max-width: 68px; width: 68px;">Compound Concentrations</th>
        </tr>
        <tr>
        <th colspan="4"></th>
        <th style="min-width: 35px; max-width: 35px; width: 35px;">Freq.</td><th  style="min-width: 33px; max-width: 33px; width: 33px;">Max Time</th>

        {% for cur in all_currents %}
          <th style="min-width: 10px; max-width: 40px;">{{ cur }}</th>
        {% endfor %}
        <th>Units</th>
        <th/><th/>
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
      <tr>
        <td><img class="progressIcon" id="progressIcon-{{object.pk}}" {%if object.status == "SUCCESS" %}src="{% static 'images/finished.gif' %}" title="Simulation completed succesfully."{% elif object.status == "FAILED" %}src="{% static 'images/failed.gif' %}" title="Simulation failed!"{% else %}src="{% static 'images/inprogress.gif' %}" title="Simulation in progress."{% endif %}/>
            <a href="{% url 'simulations:simulation_result' object.pk %}">{{object.title}}</a></td>
        <td><small>{{object.created_at|date:"Y/m/d" }}</small></td>
        <td><a href="{% url 'files:model_detail' object.model.pk %}">{{object.model}}</a></td>

        <td>{% include "./simulation_header.html" with showView=True%} </td>
        <td>{{object.pacing_frequency}} <em>Hz</em></td><td>{{object.maximum_pacing_time}} <em>
        {% for cur in all_currents %}
        {% simulation_ion_current object cur as currentparam%}
            <td>{{ currentparam.current }}</td>
        {% endfor %}
        <td>{{object.ion_units}}<br/>({{object.ion_current_type}})</td>
        <td>{% short_field_name object.pk_or_concs %}</td>
        {%print_compound_concentrations object as inhconc %}
        <td title="{{ inhconc.0 }}">{{ inhconc.1 }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  </section>

{% endblock content %}

