{% extends "base.html" %}
{% load static %}

{% block title %}Create simulation - {% endblock title %}

{% block content %}
<div id='simulationform'>
  <h1>Create simulation</h1>

  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form.visible_fields %}
        {% if field.name != "ion_units" and field.name != "ion_current_type"%}
            <p>{{ field.label_tag }} {{ field.errors }} {{ field }} <span class="helptext">{{ field.help_text|safe }}</span></p>
        {% endif %}
    {% endfor %}

    {{ formset.management_form }}
    <table class="ioncurrent-formset" id="ioncurrent-formset" border="0">
        <thead><tr><th colspan="2">Ion Current {{form.ion_current_type}} {{form.ion_units}}</th><th>Hill <br/>Coefficient</th><th>Saturation <br/>Level (%)</th><th>Spread of <br/>Uncertainty</th><th>Channel <br/>protein</th><th>Gene</th><th>Description</th></tr></thead>
        <tbody>
            {% for form in formset %}
                <tr><td>{{form.initial.ion_current}} {{form.ion_current}}</td><td>{{form.current}} <div class="ion-units">-log(m)</div></td><td>{{form.hill_coefficient}}</td><td>{{form.saturation_level}}</td><td>{{form.spread_of_uncertainty}}</td><td>{{form.initial.channel_protein|safe}}</td><td><em>{{form.initial.gene}}</em></td><td>{{form.initial.description}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
    <button id="savebutton" type="submit">Run simulation</button>
    <a class="button" href="{% url 'files:model_list'%}">Cancel</a>
    </p>
  </form>
</div>
{% endblock content %}
