{% extends "base.html" %}
{% load static %}
{% load simulations %}


{% block title %}Edit simulations info - {% endblock title %}

{% block content %}
<div class="info">The simulation parameters cannot be edited, to run a different simulation please <a href="{% url 'simulations:create_simulation' %}"> create a new simulation</a>.</div>

<section id="simulationgrouplist">
{% include "./simulation_header.html" %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
  <fieldset>
    <legend>Simulation parameters</legend>
      <fieldset><legend>Model</legend>{{ object.model }}</fieldset>
      <fieldset><legend>Pacing</legend>
        <div><label>Frequency: </label> {{ object.pacing_frequency }} (Hz)</div>
        <div><label>Max time: </label>(mins)</div>
      </fieldset>
      <fieldset>
        <legend>Ion Channel Current Inhibitory Concentrations</legend>
        <table class="ioncurrent-formset" id="ioncurrent-formset">
          <thead><tr><th colspan="2">Ion Current {{object.ion_current_type}}</th>
                     <th>Hill <br/>Coefficient</th>
                     <th>Saturation <br/>Level (%)</th>
                     <th>Spread of <br/>Uncertainty</th>
                     <th>Channel <br/>protein</th><th>Gene</th>
                     <th>Description</th>
                 </tr>
          </thead>
          <tbody>
            {% ion_currents as all_currents %}
            {% for current in all_currents %}
            {% simulation_ion_current object current as currentparam %}
            <tr><td>{{ current }}</td>
                <td>{{ currentparam.current }}{% if currentparam.current%} ({{object.ion_units}}){% endif %}</td>
                <td>{{ currentparam.hill_coefficient}}</td>
                <td>{{ currentparam.saturation_level }}</td>
                <td>{{ currentparam.spread_of_uncertainty }}</td>
                <td>{{ current.channel_protein|safe }}</td>
                <td>{{ current.gene }}</td>
                <td>{{ current.description }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
    </fieldset>
    <fieldset>
      <legend>{% print_field_name object.pk_or_concs %}</legend>
      {% print_compound_concentrations object as inhconc %}
      {{ inhconc.0 }}
    </fieldset>
  </fieldset>
  <p>
  <button id="savebutton" type="submit">Save</button>
   <a class="button" id="backbutton" title="Cancel">Cancel</a>
  </p>
  </form>
</section>

{% endblock content %}

