body {
  font-family: Arial;
  font-size: 16px; 
  clear: both;
  padding: 10px;
  }

code, input {
  font-family: Georgia; }

#page, #page-footer, #page-middle {
  width: 850px;
  margin: auto; }

/* support for historic browsers */
header, section, footer, aside, nav, article, figure {
  display: block; }

header {
  position: relative;
}

button {
  box-sizing: content-box; }

button,
.button {
  background-color: #1a296b;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block; }

button, button:visited, button:active, button:hover,
.button,
.button:visited,
.button:active,
.button:hover {
  color: #fff;
  border: 1px solid #39578e; }

button, button:visited, button:active, button:hover,
.button,
.button:visited,
.button:active,
.button:hover {
  color: #fff;
  border: 1px solid #39578e; }

button:active,
.button:active {
  background-color: #192844; }

button:hover, button.selected,
.button:hover,
.button.selected {
  background-color: #335490; }

.navbar {
  height: 60px;
  padding: 0;
  margin: 0;
  position: absolute;
  /* Ensures that the menu doesn’t affect other elements */
  bottom: 0;
  right: 0; }

.navbar li {
  height: auto;
  float: left;
  /* This lines up the menu items horizontally */
  text-align: center;
  /* All text is placed in the center of the box */
  list-style: none;
  /* Removes the default styling (bullets) for the list */
  padding: 10px;
  margin-right: 20px; }

.navbar li ul li a::before {
  content: '\00BB\00A0'; }

.navbar a, .navbar a:hover, .navbar a:active {
  padding: 7px 0;
  /* Reduce padding so as to fit number of lines in sub menu */
  text-decoration: none;
  /* Removes the default hyperlink styling. */
  display: block;
  border: none; }

.footer-navbar {
  height: 20px;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0; }

.footer-navbar li {
  height: auto;
  float: left;
  /* This lines up the menu items horizontally */
  text-align: center;
  /* All text is placed in the center of the box */
  list-style: none;
  /* Removes the default styling (bullets) for the list */
  padding: 2px;
  margin-right: 20px;
  font-size: 80%; }

.footer-navbar li a::before {
  content: '\00BB\00A0'; }

.footer-navbar li a, .footer-navbar li a:hover, .footer-navbar li a:active {
  padding: 2px 0;
  /* Adds a padding on the top and bottom so the text appears centered vertically */
  text-decoration: none;
  /* Removes the default hyperlink styling. */
  display: block;
  border: none;
  color: white; }

.navbar-submenu {
  min-width: 100px;
  position: relative;
  z-index: 99;
  background-color: #ffffff; }

.navbar-submenu ul {
  display: none;
  /* Hides the drop-down menu */
  height: auto;
  width: 100px;
  margin: 0;
  /* Aligns drop-down box underneath the menu item */
  padding: 0;
  /* Aligns drop-down box underneath the menu item */
  background-color: #ffffff; }

.navbar-submenu ul li, .navbar-submenu ul a, .navbar-submenu ul a:hover, .navbar-submenu ul a:active {
  text-align: left;
  padding: 0;
  white-space: nowrap; }

.navbar-submenu:hover ul {
  display: block;
  /* Displays the drop-down box when the menu item is hovered over */ }
  
#body {
  clear: both;
  /*background-color: #ccc;*/
  padding: 10px; }

footer {
  background-image: linear-gradient(to right, #009bbd, #007ca7, #005597, #1a296b);
  color: white;
  padding: 15px;
  clear: both; }

a, a:active, a:visited {
  text-decoration: none;
  cursor: pointer;
  /*border-bottom: 1px solid #1a296b;*/ }

a, a:active, a:visited, #comparisonModeIndicator {
  color: #007ca7; }

h1, h2, h3, h4, h5 {
  color: #1a296b; }


#notifications {
  position: absolute;
  width: 850px; }

#error {
  background-color: #e5cece;
  border: 2px solid #7d3e3e;
  padding: 0px 10px; }

#info, .info {
  background-color: #ced5e5;
  border: 2px solid #1a296b;
  padding: 0px 10px; }

.invisible {
  display: none; }

form input[type=text], form input[type=email], form input[type=password] {
  width: 20em; }

label[for=cellml_file-clear_id]{
    color: #e64d00;
}

form label{
  display: inline;
  font-weight: bold;
  color: black;
}

legend, legend label{
  display: inline;
  font-weight: bold;
  color: #7E7E7E;
}

form small, form .helptext, form p + ul, form td > ul {
  white-space: pre;
  color: #aaa;
  font-size: small;
  display: block; }

table {
  width: 100%;
  border-collapse: collapse; }

tr:nth-child(1) {
  border-top: 1px dashed #ccc; }

.suppl {
  color: #888;
  font-size: .8em; 
  margin-bottom: 2em;
}

h1#entityname{
  margin-top: 0.5em;
  margin-bottom: 0px; 
  margin-block-end: 0px}

#add-row-concentration-points a.active::before {
  content: url("../img/add.png"); 
}

#add-row-concentration-points.greyed-out::before {
  content: url("../img/add.png");
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

#add-row-concentration-points.greyed-out {
  color: #BEBEBE;
}

/* Simulaton and cell upload css*/
/* green highlight uploaded form */
#id_cellml_file, #id_PK_data{
    color: #339933;
}

/* ion current table in simulation form */

#ioncurrent-formset, #simulations_table{
    font-size: 12px;
    text-align: left;
}

#ioncurrent-formset input[type='number']{
    width: 45px;
}

.errorlist{
    color: #DC143C;
}

#currentname{
    width: 70px;
    white-space:nowrap;
}

#currentval{
    width: 10px;
    white-space: nowrap;
}

#currentval input[type='number']{
    width: 70px;
}

#id_ion_units{
    width: 65px;
}

#ion-description-header{
    width: 150px;
}

/* infor button */
.info{
    border:0;
    padding:0;
    background: rgba(0, 0, 0, 0);
}

#div_pk_or_concs_1 input{
    width: 70px;
}
