{% load static %}
{% load ap_nimubs %}

{% if object.id %}
<a href="{% url 'files:model_detail' object.id %}"><h1 id="entityname">Annotated CellML model: {{ object.name }}.</h1></a>
<div class="suppl">
    <small>Created <time>{{object.created_at}}</time> by <em>{{object.author.full_name}}</em>.
        {% can_edit object as can_edit %}
        {% if can_edit %}
          <a title="Delete this CellML model" href="{% url 'files:delete_model' object.id %}" title="Delete this CellML model">
            <img src="{% static 'images/delete.png' %}" alt="Delete"/>
            Delete
          </a> |
          {%if not in_edit %}
            <a title="Edit this CellML model" href="{% url 'files:edit_model' object.id %}" title="Edit this CellML model">
            <img src="{% static 'images/edit.png' %}" alt="Edit"/>
              Edit
            </a> |
          {% endif %}
        {% endif %}</small>
</div>
{% else %}<h1>Create annotated CellML model.</h1>{% endif %}
