{% extends "base.html" %}
{% load static %}

{% block title %}{% if object.id %}Edit annotated CellML model: {{ object }} - {% else %}Create annotated CellML model - {% endif %}{% endblock title %}

{% block content %}
<div id='cellmlmodelform'>
{% with in_edit='true' %}
  {% include "./cellmlmodel_header.html" %}
{% endwith %}

  <form method="POST" action="" enctype="multipart/form-data" name="cellmlform">
    {% csrf_token %}

    {{ form.as_p }}
    <p>
    <button id="savebutton" type="submit">Save</button>
    <button class="button" id="backbutton" title="Cancel">Cancel</button>
    </p>
  </form>
</div>
{% endblock content %}
