{% extends "base.html" %}

{% block title %}Cellml models - {% endblock title %}

{% block content %}
  <section id="modellist">
    <h1>CellML models</h1>
    <a href="{% url 'files:create_model' %}">Upload a new Model</a>

    <h2>Moderated models</h2>

    <ul>
      {% for model in object_list %}
        {% if model.predefined %}
          <li title="{{ model.name }}">
              <a href="{% url 'files:model_detail' model.pk %}"><strong>{{ model }}</strong></a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>Uploaded models</h2>

    <ul>
      {% for model in object_list %}
        {% if not model.predefined %}
          <li title="{{ model.name }}">
              <a href="{% url 'files:model_detail' model.pk %}"><strong>{{ model }}</strong> (by {{model.author.full_name}})</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

{% endblock content %}
