{% extends "base.html" %}
{% load static %}

{% block title %}{% if object.id %}Edit{% else %}Create{% endif %} CellML model - {% if object.id %}: {{ object }}{% endif %}{% endblock title %}

{% block content %}
<div id='cellmlmodelform'>
  <h1>{% if object.id %}Edit{% else %}Create{% endif %} CellML Model{% if object.id %}: {{ object }}{% endif %}</h1>

  <form method="POST" action="" enctype="multipart/form-data" name="cellmlform">
    {% csrf_token %}

    {{ form.as_p }}
    <p>
    <button id="savebutton" type="submit">Save</button>
    <a class="button" href="{% url 'files:model_list'%}">Cancel</a>
    </p>
  </form>
</div>
{% endblock content %}
