{% load static %}

<meta charset="utf-8" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/style-min.css' %}" />
<script type="text/javascript" src="{% static 'build/js/main-min.js' %}"></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/datatables.min.js"></script>
<style>
#page-middle{
    border-style: dashed;
}

.sim-date{
    width: 0%;
    white-space: nowrap;
}
/*td.sim-date{
    font-size: 10px;
}*/

.sim-model{
    width: 22%;
}

.sim-pacing-freq{
    width: 0%;
}
.sim-pacing-time{
    width: 0%;
}

.sim-status{
    width: 0%;
/*white-space: nowrap;*/
}

.dt-buttons{
    margin-left: 10px;
    font-size: 12px;
}

.dt-buttons button {
    padding: 2px;
}
 
</style>

<script type="text/javascript">
// init data table for simulation results
$(document).ready(function() {
    var table = $('#simulations_table').DataTable( {
        stateSave: false,
        order: [],
        dom: 'lBfrtip',
        autoWidth: true,
        buttons: [{extend: 'columnToggle',
                   text: 'Toggle Pacing',
                   className: 'toggle-pacing',
                   columns: '.pacing'
                  },
                  {extend: 'columnToggle',
                   text: 'Toggle Ion Currents',
                   className: 'toggle-ion-currents',
                   columns: '.inhibitory-concentrations'
                  },
                  {extend: 'columnToggle',
                   text: 'Toggle Compound Concentrations',
                   className: 'toggle-compound-concentrations',
                   columns: '.compound-concentrations'
                  }],
        fixedColumns: true
    });

   //initialise visibility of exra info to off
   $('.toggle-pacing').click();
   $('.toggle-ion-currents').click();
   $('.toggle-compound-concentrations').click();

} );

</script>
