{% load static %}

<meta charset="utf-8" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/style-min.css' %}" />
<script type="text/javascript" src="{% static 'build/js/main-min.js' %}"></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/datatables.min.js"></script>
<style>
#simulations_table, .buttons-colvisGroup{
    font-size: 10px;
}
/*.sim-title{
    width:10px  !important;
}*/
.sim-date{
    width: 75px;
}
.sim-model{
    width: 150px;
}
.sim-pacing-freq{
    width: 40px;
}
.sim-pacing-time{
    width: 20px;
}
.sim-ion-current{
    width: 20px;
}
.sim-ion-current-units{
    width: 40px;
}
.sim-concentration-type{
    width: 100px;
}
.sim-compound-concentrations{
    width: 100px;
}
.sim-status{
    width: 50px;
}


.dt-buttons{
    margin-left: 10px;
}

.dt-buttons button {
    padding: 0px;
}
 
</style>

<script type="text/javascript">
    // init data table for simulation results
$(document).ready(function() {

    var table = $('#simulations_table').DataTable( {
        stateSave: false,
        order: [],
        dom: 'lBfrtip',
        autoWidth: true,
        buttons: [
            {
                text: 'Toggle Pacing',
                className: 'togglePacing'
            },
            {
                text: 'Toggle Ion Currents',
                className: 'toggleIonCurrents'
            },
            {
                text: 'Toggle Compound Concentrations',
                className: 'toggleCompoundConcentrations'
            },
        ],
        fixedColumns: true
    });

   //setup visibility toggle buttona ctions
    $('.togglePacing').click(function(){
        $('.sim-pacing-freq').toggle();
        $('.sim-pacing-time').toggle();
        $('.pacing-header').toggle();
    });
    $('.toggleIonCurrents').click(function(){
        $('.sim-ion-current').toggle();
        $('.sim-ion-current-units').toggle();
        $('.inhibitory-concentrations-header').toggle();
    });
    $('.toggleCompoundConcentrations').click(function(){
        $('.sim-concentration-type').toggle();
        $('.sim-compound-concentrations').toggle();
        $('.compound-concentrations-header').toggle();
    });

    // hide pacing details by default
    $('.togglePacing').click();
    $('.toggleIonCurrents').click();
    $('.toggleCompoundConcentrations').click();

} );

</script>
